
.filter-simple .button-group {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-simple .filter-simple-button.hollow.is-active, .filter-simple .filter-simple-button.hollow:focus, .filter-simple .filter-simple-button.hollow:active {
  background-color: #1779ba;
  color: #fefefe;
}

.button-group.round :first-child {
  border-radius: 5000px 0 0 5000px;

}

.button-group.round :last-child {
  border-radius: 0 5000px 5000px 0;

}

.column-block {
  margin-bottom: 30px;

}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  padding: 20px;
  border: 10px;
}

.container-row {
  text-align: center;
  display: inline-block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: relative;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 13px 13px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}


.card {
  width: 350px;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 1rem 0rem 1rem;
}

.card-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.card-info {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.5rem;
      grid-template-rows: 1fr 2.5rem;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.card-title {
  font-size: 1.25rem;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-author {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  -webkit-align-self: bottom;
      -ms-flex-item-align: bottom;
              -ms-grid-row-align: bottom;
          align-self: bottom;
}


.ecommerce-product-slider .orbit-previous,
.ecommerce-product-slider .orbit-next {
  color: #cacaca;
}

.ecommerce-product-slider .orbit-bullets button {
  height: 0.65rem;
  width: 0.65rem;
}

.ecommerce-product-slider .product-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.ecommerce-product-slider .product-card-thumbnail {
  display: block;
  position: relative;
}

.ecommerce-product-slider .product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.ecommerce-product-slider .product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.ecommerce-product-slider .product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.ecommerce-product-slider .product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.ecommerce-product-slider .product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.ecommerce-product-slider .product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}
