
.filter-simple .button-group {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-simple .filter-simple-button.hollow.is-active, .filter-simple .filter-simple-button.hollow:focus, .filter-simple .filter-simple-button.hollow:active {
  background-color: #1779ba;
  color: #fefefe;
}

.button-group.round :first-child {
  border-radius: 5000px 0 0 5000px;

}

.button-group.round :last-child {
  border-radius: 0 5000px 5000px 0;

}

.column-block {
  margin-bottom: 30px;

}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  padding: 20px;
  border: 10px;
}

.container-row {
  text-align: center;
  display: inline-block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: relative;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 13px 13px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
