<section>
<div class="portfolio-resume row">

  <div class="column right">
    <div class="portfolio-resume-wrapper">
      <h3 class="portfolio-resume-header">Contact Information</h3>
      <p>For any inqueries, feel free to contact me!</p>
      <div class="portfolio-resume-contact-info">
        <a href="mailto:#"><i class="fa fa-envelope" aria-hidden="true"></i>rebeccahuynh7@gmail.com</a>
      </div>
      <div class="portfolio-resume-contact-info">
        <a href="tel:+14083410600"><i class="fa fa-phone" aria-hidden="true"></i></i>347.285.6822</a>
      </div>
      <div class="portfolio-resume-contact-info">
        <a href="https://www.instagram.com/seudoart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Seudoart</a>
      </div>
      <div class="portfolio-resume-contact-info">
        <a href="https://www.linkedin.com/in/rebecca-huynh-146831192/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>Rebecca Huynh</a>
      </div>
      <div class="portfolio-resume-contact-info">
        <a href="https://www.twitter.com/seudoart/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>Seudoart</a>
      </div>
    </div>
  </div>

</div>
</section>
