<!-- *Begin Header* -->
  <header>
    <div class="marketing-site-hero">
      <div class="marketing-site-hero-content">
        <h1>SeudoArt</h1>
      </div>
    </div>
  </header>
<!-- *End Header* -->

<!-- *Begin Content* -->
  <div class="container-row center">

      <div class="container flex-wrap">
        <img src="img/Wolf-Kings.jpg" alt="img/sunrise-airlines.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/graphic">GRAPHIC DESIGN</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/stargazer.png" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/digital">DIGITAL ART</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/shinee-moon.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/illustrations">ILLUSTRATIONS</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/exo-studios.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/indesign">INDESIGN</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/Visionaire.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/paintings">PAINTINGS</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/name-logo.jpg" alt="img/blind-owl.jpg" style="width:100%">
        <button class="container btn bottomleft"><a href="index.html#!/about">ABOUT ME</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/seudo-productions.jpg" alt="" style="width:100%">
        <button class="container btn"><a href="index.html#!/contact">CONTACT ME</a></button>
      </div>

  </div>
<!-- *End Content* -->
