<!-- *Begin Header* -->
  <header>
    <div class="marketing-site-hero">
      <div class="marketing-site-hero-content">
        <h1>SeudoArt</h1>
      </div>
    </div>
  </header>
<!-- *End Header* -->

<!-- *Begin Content* -->
  <div class="container-row center">

      <div class="container flex-wrap">
        <img src="img/Wolf-Kings.jpg" alt="img/sunrise-airlines.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/graphic">GRAPHIC DESIGN</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/stargazer.png" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/digital">DIGITAL ART</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/shinee-moon.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/illustrations">ILLUSTRATIONS</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/exo-studios.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/indesign">INDESIGN</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/Visionaire.jpg" alt="img/mash.jpg" style="width:100%">
        <button class="container btn"><a href="index.html#!/paintings">PAINTINGS</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/name-logo.jpg" alt="img/blind-owl.jpg" style="width:100%">
        <button class="container btn bottomleft"><a href="index.html#!/about">ABOUT ME</a></button>
      </div>

      <div class="container flex-wrap">
        <img src="img/seudo-productions.jpg" alt="" style="width:100%">
        <button class="container btn"><a href="index.html#!/contact">CONTACT ME</a></button>
      </div>

  </div>
<!-- *End Content* -->


<!-- https://foundation.zurb.com/building-blocks/blocks/button-hover-reveal.html -->
<br></br>

<div class="ecommerce-product-slider orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

    <li class="is-active orbit-slide">
      <div class="row small-up-2 medium-up-4 large-up-5 align-center">

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/graphic"><img src="img/Wolf-Kings.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/graphic">GRAPHIC DESIGN</a></h2>
          </div>
        </div>

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/digital"><img src="img/stargazer.png"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/digital">DIGITAL ART</a></h2>
          </div>
        </div>

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/illustrations"><img src="img/shinee-moon.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/illustrations">ILLUSTRATIONS</a></h2>
          </div>
        </div>

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/indesign"><img src="img/exo-studios.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/indesign">INDESIGN</a></h2>
          </div>
        </div>

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/paintings"><img src="img/Visionaire.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/paintings">PAINTINGS</a></h2>
          </div>
        </div>

      </div>
    </li>

    <li class="is-active orbit-slide">
      <div class="row small-up-2 medium-up-4 large-up-5 align-center">

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/about"><img src="img/name-logo.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/about">ABOUT ME</a></h2>
          </div>
        </div>

        <div class="column">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <a href="index.html#!/contact"><img src="img/seudo-productions.jpg"/></a>
            </div>
            <h2 class="product-card-title"><a href="index.html#!/contact">CONTACT ME</a></h2>
          </div>
        </div>

      </div>
    </li>
 </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
  </nav>
</div>
