      <div class="container-row center">

          <div class="container flex-wrap">
            <img src="img/Wolf-Kings.jpg" alt="img/sunrise-airlines.jpg" style="width:100%">
            <button class="container btn"><a href="graphic.html">GRAPHIC DESIGN</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/stargazer.png" alt="img/mash.jpg" style="width:100%">
            <button class="container btn"><a href="digital.html">DIGITAL ART</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/shinee-moon.jpg" alt="img/mash.jpg" style="width:100%">
            <button class="container btn"><a href="illustrations.html">ILLUSTRATIONS</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/exo-studios.jpg" alt="img/mash.jpg" style="width:100%">
            <button class="container btn"><a href="indesign.html">INDESIGN</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/Visionaire.jpg" alt="img/mash.jpg" style="width:100%">
            <button class="container btn"><a href="paintings.html">PAINTINGS</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/name-logo.jpg" alt="img/blind-owl.jpg" style="width:100%">
            <button class="container btn bottomleft"><a href="about/index.html">ABOUT ME</a></button>
          </div>

          <div class="container flex-wrap">
            <img src="img/seudo-productions.jpg" alt="" style="width:100%">
            <button class="container btn"><a href="contact.html">CONTACT ME</a></button>
          </div>

      </div>
