<!-- *Begin Header* -->
  <header>
    <div class="marketing-site-hero">
      <div class="marketing-site-hero-content">
        <h1>Illustrations</h1>
      </div>
    </div>
  </header>
<!-- *End Header* -->

<body ng-app="spaApp">

<div class="main" ng-controller="IllController">
   <div class="container">

     <h1>{{ title }}</h1>
     <h2>{{ promo }}</h2>

     <div ng-repeat="product in products" class="col-md-6">
      <div class="thumbnail">
        <img ng-src="{{ product.cover }}">
        <p class="title">{{ product.name }}</p>

      </div>
    </div>

   </div>
 </div>
