<br></br>

<h1>{{ title }}</h1>
<h2>{{ promo }}</h2>


<div class="grid-x grid-padding-x">
<div  class="large-8 medium-8 cell">
  <div class="grid-x grid-padding-x">
    <div ng-repeat="product in products" class="large-4 medium-4 small-4 cell">
      <a href='{{ product.cover }}'
         class="fresco"
         data-fresco-group="example_ui_outside"
         data-fresco-caption="{{ product.name }}"
         data-fresco-group-options="overflow: true, thumbnails: 'vertical', onClick: 'close'">
              <div class="primary callout">
                <div class="thumbnail">
                  <img ng-src="{{ product.cover }}">
                  <p class="title">{{ product.name }}</p>
                </div>
              </div>
      </a>

<!--
      <a href="{{ product.cover }}"
         class="fresco"
         data-fresco-group='overflow-example'
         data-fresco-group-options="overflow: true, thumbnails: 'vertical', onClick: 'close'">
             <div class="primary callout">
               <div class="thumbnail">
                 <img ng-src="{{ product.cover }}">
                 <p class="title">{{ product.name }}</p>
               </div>
             </div>
       </a>

       https://www.frescojs.com/documentation
-->

    </div>
  </div>
</div>
</div>
