<br></br>
Lightbox Experiment
<h1>{{ title }}</h1>
<h2>{{ promo }}</h2>


<div class="grid-x grid-padding-x">
<div  class="large-8 medium-8 cell">
  <div class="grid-x grid-padding-x">
    <div ng-repeat="product in products" class="large-4 medium-4 small-4 cell">
      <div class="primary callout">
        <div class="thumbnail">

<!--
          <a href="{{ product.cover }}"
             class="fresco"
             data-fresco-caption="{{ product.name }}">Caption</a>


         <a href="{{ product.cover }}"
            class="fresco"
            data-fresco-group="unique_name">{{ product.name }}</a>
-->

        <a href='{{ product.cover }}'
           class="fresco"
           data-fresco-group="example_ui_outside"
           data-fresco-caption="{{ product.name }}">{{ product.name }}</a>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
